/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        yes {
            bindings = <
&kp ESC   &kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4  &kp N5  &kp LBKT   &kp RBKT   &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp BSLH   &kp BSPC
&kp CAPS  &kp Q      &kp W     &kp E     &kp R      &kp T   &kp Y   &kp MINUS  &kp EQUAL  &kp Y   &kp U   &kp I      &kp O     &kp P     &kp LBKT   &kp RBKT
&kp DEL   &kp BSPC   &kp A     &kp S     &kp D      &kp F   &kp G                         &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT    &kp RET
&kp HOME  &kp LSHFT  &kp Z     &kp X     &kp C      &kp V   &kp B   &kp LEFT   &kp RIGHT  &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp ENTER  &kp END
          &kp LCTRL  &kp LALT  &kp LGUI  &kp SPACE  &kp N1  &kp N2  &kp DOWN   &kp UP     &kp N3  &kp N4  &kp SPACE  &kp RGUI  &kp RALT  &kp RCTRL
            >;
        };

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC   &kp GRAVE  &kp N1    &kp N2        &kp N3  &kp N4     &kp N5   &kp LBKT        &kp RBKT      &kp N6  &kp N7         &kp N8     &kp N9    &kp N0    &kp DELETE  &kp PRINTSCREEN
&kp DEL   &kp TAB    &kp Q     &kp W         &kp F   &kp P      &kp G    &kp MINUS       &kp EQUAL     &kp J   &kp L          &kp U      &kp Y     &kp SEMI  &kp BSLH    &kp BACKSPACE
&kp HOME  &kp BSPC   &kp A     &kp R         &kp S   &kp T      &kp D                                  &kp H   &kp N          &kp E      &kp I     &kp O     &kp SQT     &kp RET
&kp END   &kp LSHFT  &kp Z     &kp X         &kp C   &kp V      &kp B    &kp LEFT_ARROW  &kp RIGHT     &kp N   &kp M          &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT   &mo 0
          &kp LCTRL  &kp LWIN  &kp LEFT_ALT  &mo 1   &kp SPACE  &kp RET  &kp DOWN        &kp UP_ARROW  &kp N8  &kp BACKSPACE  &mo 0      &kp RALT  &kp RWIN  &kp RCTRL
            >;
        };
    };
};
